
<!-- The side navbar -->
<div class="sidenav">
    <br><br>
    <strong class="ms-5" > {{rollnumber}} </strong> 
    <br><br>
    <button   routerLinkActive="active" routerLink="/user/home"> Dashboard</button><br>
    <button   routerLinkActive="active" routerLink="/user/request">Requests</button><br>
    <button   routerLink="/user/complaints" routerLinkActive="active">Feedback</button><br>
    <button   routerLinkActive="active" routerLink="/user/profile"> Profile</button><br>
    <button  (click)="logout()"> Logout</button>
</div>

<div style="margin-left:200px;">
   
 <img class="dashboardImage" src="https://img.freepik.com/free-photo/fantastic-seascape-with-ripples_1232-424.jpg">
    
   
</div>


