/* Style for the side navbar */


.sidenav {
    height: 100%;
    width: 14%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
   /*background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8uk8KYyOKo5WKuCMFPUGZ5fEaBeRxuWvS0pySsB8-qAK2CCMytcxi28w0MDPDj-PSUD0&usqp=CAU");*/
    overflow-x: hidden;
    padding-top: 20px;
    
    background-color:white;
    
}
/* Style for the links inside the side navbar */
.sidenav button {
    padding: 6px 8px 6px 0px;
    text-decoration: none;
    font-size: 12px;
    color: #1c1a1a;
   
    display: block;
    border: 3px solid black;
    border-radius: 6px;
    width: 180px;
    
}

/* Style for the active menu item */
.sidenav button.active {
    background-color:#99ccff;
    color: #fff;
    
}
/* Style for the hover effect */
.sidenav button:hover {
    background-color:#99ccff;
    color: #fff;
}
/* fa-icon{
    color: #5e5bec; 
} */
/* fa-icon.active{
    color: #fff;
} */

.cleanRequestDiv{
    position: absolute;
    top: 19%;
    left: 23%;
    border-radius: 4px;
    background-color: white;
    width: 241px;
    height: 80px;
}
.complaintsDiv{
    position: absolute;
    top: 19%;
    left: 55%;
    border-radius: 4px;
    background-color: white;
    width: 241px;
    height: 80px;
}
.dashboardImage{
    width: 100%;
    height: 240px;
    opacity: 0.8;
}
.btn btn-primary {
    margin-left: 10px;
    background-color: white;
}